{{extend "layout.html"}}
<div class='row'>

 <div class='span3 bs-docs-sidebar'>
  <div id='list-filter' class='thumbnail side-filter'>
  <!-- class='form-container' -->
  {{=list_filter_form}}
  </div>
 </div>
 <!-- Filter
 <div class='span3 bs-docs-sidebar'>
  <div class='thumbnail side-filter'>
   <form method='post' action=''>
    <input class='filter-search' type='text' placeholder='SEARCH'>
    <button class='btn btn-primary btn-filter' type='button'>Filter Results</button>
   </form>
  </div>
 </div> -->

 <div id='dl-container' class='span6'>
  <h4 class='latest-updates'>{{=T("Latest Activity")}}</h4>
  <a href='#myModal' role='button' data-toggle='modal'><i class='icon icon-plus-sign big-add'></i></a>
  {{=items}}
 </div>
 <!-- Latest Updates River
 <div class='span6'>
  <h4 class='latest-updates'>Latest Activity</h4>
  <a href='#myModal' role='button' data-toggle='modal'><i class='icon icon-plus-sign big-add'></i></a>
  <div class='thumbnail'>
   <div class='card-header'>
    <i class='icon icon-file-alt'><span class='card-title'> Report</span></i>
    <span class='location-title'>MANUFAHI | SAME | LETEFOHO</span>
    <span class='date-title'>1:06 AM 12 Sep 13</span>
    <div class='edit-bar fright'>
     <i class='icon icon-edit'> </i>
     <i class='icon icon-remove-sign'> </i>
    </div>
   </div>
   <div class='media'>
    <a class='pull-left' href='#'>
     <img class='media-object' src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm' style='width:50px;padding:5px;padding-top:0px;'>
    </a>
    <div class='media-body'>
     <div class='media'>
      We love a nice description as much as the next guy but just keep it within 300 characters! We love a nice description as much as the next guy.
      <div class='card-person'>Jose Soares -
       <a class='card-organisation'>Oxfam</a>
       <a href='http://'><i class='icon icon-paper-clip fright'></i> </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class='thumbnail disaster'>
   <div class='card-header'>
    <i class='icon icon-warning-sign'><span class='card-title'> Alert</span></i>
    <span class='location-title'>MANUFAHI | SAME | LETEFOHO</span>
    <span class='date-title'>1:06 AM 12 Sep 13</span>
    <div class='edit-bar fright'>
     <i class='icon icon-edit'> </i>
     <i class='icon icon-remove-sign'> </i>
    </div>
   </div>
   <div class='media'>
    <a class='pull-left' href='#'>
     <img class='media-object' src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm' style='width:50px;padding:5px;padding-top:0px;'>
    </a>
    <div class='media-body'>
     <div class='media'>
      We love a nice description as much as the next guy but just keep it within 300 characters! We love a nice description as much as the next guy.
      <div class='card-person'>Jose Soares -
       <a class='card-organisation'>Oxfam</a>
       <a href='http://'><i class='icon icon-paper-clip fright'></i> </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class='thumbnail'>
   <div class='card-header'>
    <i class='icon icon-truck'><span class='card-title'> Activity</span></i>
    <span class='location-title'>MANUFAHI | SAME | LETEFOHO</span>
    <span class='date-title'>1:06 AM 12 Sep 13</span>
    <div class='edit-bar fright'>
     <i class='icon icon-edit'> </i>
     <i class='icon icon-remove-sign'> </i>
    </div>
   </div>
   <div class='media'>
    <a class='pull-left' href='#'>
     <img class='media-object' src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm' style='width:50px;padding:5px;padding-top:0px;'>
    </a>
    <div class='media-body'>
     <div class='media'>
      We love a nice description as much as the next guy but just keep it within 300 characters! We love a nice description as much as the next guy.
      <div class='card-person'>Jose Soares -
       <a class='card-organisation'>Oxfam</a>
       <a href='http://'><i class='icon icon-paper-clip fright'></i> </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class='thumbnail'>
   <div class='card-header'>
    <i class='icon icon-truck'><span class='card-title'> Activity</span></i> 
    <span class='location-title'>MANUFAHI | SAME | LETEFOHO</span>
    <span class='date-title'>1:06 AM 12 Sep 13</span>
    <div class='edit-bar fright'>
     <i class='icon icon-edit'> </i>
     <i class='icon icon-remove-sign'> </i>
    </div>
   </div>
   <div class='media'>
    <a class='pull-left' href='#'>
     <img class='media-object' src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm' style='width:50px;padding:5px;padding-top:0px;'>
    </a>
    <div class='media-body'>
     <div class='media'>
      We love a nice description as much as the next guy but just keep it within 300 characters! We love a nice description as much as the next guy.
      <div class='card-person'>Jose Soares -
       <a class='card-organisation'>Oxfam</a>
       <a href='http://'><i class='icon icon-paper-clip fright'></i> </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div> -->

 <!-- Latest Disasters top five -->	
 <div class='span3'>
  <h4 class='latest-disasters'>{{=T("Disasters")}}</h4>
  <div class='thumbnail disaster'>
   <div class='edit-bar fright'>
    <i class='icon icon-edit'> </i>
    <i class='icon icon-remove-sign'> </i>
   </div>
   <h5>Flood Manufahi</h5><span class='date-title'>1:06 AM 12 Sep 13</span>
  </div>
  <div class='thumbnail'>
   <h5>Cyclone Simone</h5><span class='date-title'>1:06 AM 12 Sep 13</span>
  </div>
  <div class='thumbnail'>
   <h5>Drought Tibar</h5><span class='date-title'>1:06 AM 12 Sep 13</span>
  </div>
 </div>

</div>

<!-- Add Form -->	
<div id='myModal' class='modal hide fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
 <div class='form-container'>
  {{try:}}{{=form}}{{except:}}{{pass}}
 </div>
 <!--
 <div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
  <h3 id='myModalLabel'>Add New Information</h3>
 </div>
 <div class='modal-body'>
  <p>We just push the form through here!...</p>
 </div>
 <div class='modal-footer'>
  <button class='btn' data-dismiss='modal' aria-hidden='true'>Close</button>
  <button class='btn btn-primary'>Save changes</button>
 </div>-->
</div>
{{include "dataLists.html"}}